.page-game{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 80%;
}

.game-text-window{
    height: 50vh;
    width: 100%;
    max-width: 95vw;
    overflow-y: scroll;
    text-align: left;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 0;
    p{
        margin: 2vh 1.25vw;
    }
}

.game-info-panels{
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto;
    > *{
        margin: 0 1vw;
    }
    margin-top: 3vh;
}

.player-stats{
    background-color: rgb(0, 0, 171);
    color: white;
    border: 5px solid white;
    border-radius: 5px;
    text-align: left;
    grid-column: span 1;
    height: 22vh;
    padding: 1vh 1vw;
    margin-left: 0;
}

.out-of-battle-choices{
    grid-column: span 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    >*{
        margin-bottom: 2vh;
    }
    .next-loc-btns{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        h3{
            margin: .5vh 0;
        }
        button{
            border-radius: 5px;
            border: none;
            margin: .25vh 0;
            padding: .5vh .5vw;
            color: white;
            text-shadow: #000000 1px 1px 3px;
            box-shadow: inset 2px 2px 3px -1px rgba($color: #ffffff, $alpha: .6), inset -2px -1px 2px 1px rgba($color: #000000, $alpha: .6);
            &:active{
                box-shadow: inset 2px 2px 3px -1px rgba($color: #000000, $alpha: .6), inset -2px -1px 2px 1px rgba($color: #ffffff, $alpha: .6);
            }
        }
        .to-town button{
            background-color: skyblue;
            &:hover{
                background-color: rgb(170, 230, 253);
            }
        }
        .to-field button{
            background-color: wheat;
            &:hover{
                background-color: rgb(255, 238, 205);
            }
        }
        .to-dun button{
            background-color: rgb(121, 121, 121);
            color: rgb(255, 0, 0);
            text-shadow: #310000 1px 1px 3px;
            box-shadow:
                inset 3px 3px 10px -1px
                    rgba($color: #646464, $alpha: .3),
                inset -4px -3px 3px 1px
                    rgba($color: #000000, $alpha: .6);
            &:hover{
                background-color: rgb(146, 146, 146);
            }
            &:active{
                box-shadow:
                        inset 3px 3px 10px -1px
                            rgba($color: #000000, $alpha: .6),
                        inset -4px -3px 3px 1px
                            rgba($color: #646464, $alpha: .3);
            }
        }
    }
}

.battle-menu{
    grid-column: span 1;
    display: grid;
    grid-template-columns: auto 35%;
    background-color: rgb(0, 0, 171);
    color: white;
    border: 5px solid white;
    border-radius: 5px;
}

.enemy-stats{
    grid-column: span 1;
    display: flex;
    flex-flow: column nowrap;
    .enemy-stat{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        background-color: rgb(0, 0, 171);
        color: white;
        border: 3px solid white;
        border-radius: 5px;
        text-align: left;
        padding: .5vh .5vw;
        *{
            margin: 0;
        }
    }
}

.selecting-enemy-target{
    border-color: yellow;
    &:hover{
        border-style: dashed;
    }
    &:active{
        box-shadow:
            inset 3px 3px 10px -1px rgba($color: #000000, $alpha: .6),
            inset -4px -3px 3px 1px rgba($color: rgb(104, 104, 251), $alpha: .3);
    }
}

.battle-choices{
    grid-column: span 1;
    display: grid;
    grid-template-columns: 30% auto;
    .battle-main-menu{
        grid-column: span 1;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        > button{
            width: 90%;
            > h3{
                text-align: center;
                margin: 0;
            }
        }
    }
}

.user-saves-list{
    background-color: white;
    color: #000000;
}

.save{
    background-color: skyblue;
}

@media (max-width:800px){
    .page-game{
        width: 95%;
    }
    .game-info-panels{
        flex-flow: column nowrap;
        align-items: center;
    }
    .player-stats{
        width: 95%;
    }
}