.page-game{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.game-text-window{
    height: 50vh;
    width: 60%;
    max-width: 95vw;
    overflow-y: scroll;
    text-align: left;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 0 1vw;

    p{
        margin: 2vh 0.25vw;
    }
}

@media (max-width:800px){
    .game-text-window{
        width: 95%;
    }
}