.page-game{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 70%;
}

.game-text-window{
    height: 50vh;
    width: 100%;
    max-width: 95vw;
    overflow-y: scroll;
    text-align: left;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 0;
    p{
        margin: 2vh 1.25vw;
    }
}

.game-info-panels{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-top: 3vh;
}

.player-stats{
    background-color: rgb(0, 0, 171);
    color: white;
    border: 5px solid white;
    border-radius: 5px;
    text-align: left;
    width: 30%;
    height: 25vh;
    padding: 1vh 1vw;
}

@media (max-width:800px){
    .page-game{
        width: 95%;
    }
}