body{
  background-color: rgb(57, 0, 81);
  color: white;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

main.App-main{
  width: 75vw;
  min-width: 95vw;
}